{% load static %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'auth_user/css/login.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Log in</p>
    <div class="form1">
      <input class="un " type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign in</a>
        <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>

    </div>
  </div>

</body>

</html>